html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.overflow {
  max-width: 100%;
  overflow-x: hidden;
}

.pd-0 {
  padding: 0;
}

.mrg-0 {
  margin: 0;
}

.list-stl {
  list-style: none;
}

.flx-rw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-bottom-left-radius: 100px;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background: #fff;
}

#headline {
  /* Headline */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(img/header-shapes-mobile@2x.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
}

.headline-txt {
  /* Headline */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 102px 24px 100px;
  gap: 12px;
}

.order-0 {
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.order-1 {
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.order-2 {
  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.order-3 {
  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.txt-1 {
  /* Header / 2 */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  /* Neutrals/N800 */

  color: #172b4d;
}

.txt-2 {
  /* Body / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;
}

.txt-3 {
  /* Body / 2 - Bolder */

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #1f31ff;

  /* Inside auto layout */
}

.txt-4 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;
}

.txt-5 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.txt-6 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;
}

.txt-7 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;
}

.txt-tags {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;
}

.skill-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: #000;
}

.lng-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.scl-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.txt-j {
  text-align: justify;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 88px;
  padding-top: 114px;
  padding-bottom: 114px;
}

.card {
  /* Card Works */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 0 24px;
  gap: 12px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.primary-txt {
  /* Primary Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.block-img {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 0;
}

.mobile-btn {
  /* Button / Enable */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* Theme 1 / Neutrals 11 */

  background: #fff;

  /* Theme 1 / Primary Colors 3 */

  border: 1px solid #7f8cff;
  border-radius: 8px;
}

.mobile-btn:hover {
  /* Button / Hover */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* Theme 1 / Primary Colors 2 */

  background: #6070ff;

  /* Button/1 */

  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 1 / Neutrals 11 */

  color: #fff;
}

.mobile-btn:focus {
  /* Button / Pressed */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* Theme 1 / Primary Colors 1 */

  background: #2230d2;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 1 / Neutrals 11 */

  color: #fff;
}

.mobile-btn-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */

  color: #396df2;
}

.about {
  /* About My Self */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-top-right-radius: 100px;
  background-color: #fff;
}

.top {
  /* TOP */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 114px 24px 0 24px;
}

.skill {
  /* Skill List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.skill-lst-mrg {
  margin: 0 24px 114px 24px;
}

.frame-7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 12px;
}

.lng-list {
  /* Langguage List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 12px 12px;
  gap: 12px;
}

.frame-9 {
  /* Neutrals/N10 */
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  padding-left: 12px;
  gap: 16px;
  align-items: center;
}

.separator {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;

  /* Neutrals/N40 */

  background: #dfe1e6;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 100px;
}

.contact-me-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/contact form-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 21px;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 82px 24px 11px 24px;
}

.contact-me-title {
  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;

  /* Neutrals/N0 */

  color: #fff;
}

.contact-me-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */

  text-align: center;
  margin: 0;

  /* Primary/B50 */

  color: #ebebff;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  gap: 18px;
}

.input {
  /* Mono/White */

  /* Mono/White */

  background: #fff;

  /* Base/100 */

  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: inherit;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  /* or 118% */

  display: flex;
  align-items: center;
  padding: 15px 36px 15px 16px;

  /* Neutral/N800 */

  color: #172b4d;
}

#menu-lst {
  display: none;
}

.dsktp-to-hide {
  display: none;
}

button {
  transition: all 0.5s ease-in;
}

#mylogo {
  transition: all 1s ease-in;
}

#mylogo:hover {
  transform: rotate(360deg);
}

.h1-animation {
  animation: h1-animation 1s ease-in;
  animation-name: slide-in;
}

img {
  transition: all 1s ease-in;
}

img:hover {
  transform: scale(1.05);
}

@keyframes slide-in {
  from {
    margin-left: 50%;
    width: 80%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #btn-menu {
    display: none;
  }

  #toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 77.5%;
    justify-content: space-between;
    padding: 26px 12%;
  }

  #menu-lst {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 32px;
  }

  .menu-lst-txt {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    text-decoration: none;
  }

  #headline {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    margin-top: 71px;
    margin-left: 2.55%;
    margin-right: 0.6%;
    align-items: flex-start;
    background-image: url(img/desktop-version/Header-bg.svg);
    padding: 0;
  }

  .headline-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    margin: 20.07%  18%;
  }

  .txt-1-dsktp {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    /* or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.37px;

    /* Theme 1 / Neutrals 1 */

    color: #091e42;
  }

  .txt-2-dsktp {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .card {
    /* Card Works */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 22px;
    margin: 0;

    /* Neutrals/N0 */

    background: #fff;

    /* Neutrals/N40 */

    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 142px;
    padding: 142px;
    padding-bottom: 114px;
    justify-content: center;
  }

  .block-img {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-self: center;
  }

  .block-txt {
    display: flex;
    flex: 1;
    padding: 24px 24px;
  }

  .mbl-to-hide {
    display: none;
  }

  .dsktp-crd-img {
    display: flex;
    width: 100%;
    min-width: 200px;
  }

  .txt-4-dsktp {
    /* Header / 2 */

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */

    /* Theme 1 / Neutrals 1 */

    color: #091e42;
  }

  .txt-5-dsktp {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    /* identical to box height, or 133% */

    /* Theme 1 / Neutrals 3 */

    color: #344563;
  }

  .txt-6-dsktp {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    /* identical to box height, or 133% */

    /* Theme 1 / Neutrals 6 */

    color: #6b778c;
  }

  .txt-7-dsktp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    /* Neutrals/N600 */

    color: #344563;
  }

  .dsktp-order-0 {
    order: 0;
    flex: 1;
  }

  .dsktp-order-1 {
    order: 1;
    flex: 1;
  }

  .dskt-mrg-lft {
    margin-left: 24px;
  }

  .dsktp-to-show {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 142px;
    gap: 25px;
    border-top-right-radius: 100px;
    background-color: #fff;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 0;
    width: 39%;
  }

  .skill {
    /* Skill List */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1;
  }

  .about-tlt {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */

    display: flex;
    align-items: center;

    /* Theme 1 / Neutrals 1 */

    color: #091e42;
  }

  .lng-list {
    display: flex;
    flex-direction: row;
    padding: 12px 12px;
    gap: 12px;
    width: 50%;
  }

  .frame-9 {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f7f7f9;
    border-radius: 8px;
    padding-left: 12px;
    gap: 16px;
    align-items: flex-start;
  }

  .contact-me-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/desktop-version/contact-form-background-shapes.svg");
    background-repeat: no-repeat;
    padding: 0;
    margin: 5.5% 5.2%;
  }

  .contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 5% 19%;
  }

  .dsktp-pd {
    padding: 0 116px;
  }

  .dsktp-align {
    align-self: center;
  }
}
